<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us </title>
</head>
<body>
         <h1> Hey these are the creators:</h1>
     <ul>
        <li>Spikesh</li>
        <li>Shravan</li>
        <li>Aditya Das</li>
     </ul>
 
 <a class="back-link" href="{{ url_for('home') }}">← Back to AquaPath AI</a>
</body>
</html>
